/**
 * Copyright: ©2018 Ronald Lamoreaux, DBA Chindraba
 * License: This work is not licensed for use or distribution other
 *          other than for the website it is built for.
 * Project: www.BrownBros.net
 *
 * Symbola font lincensed separately
 **/

/* Symbola by George Douros
 * Symbol blocks of The Unicode Standard, version 9.00, 07/2016
 *
 * License details:
 * In lieu of a licence; fonts and documents in this site are free for
 * any use; George Douros
 *
 * Symola is part of the Unicode Fonts for Ancient Scripts collection
 * More information at http://users.teilar.gr/~g1951d/
 */
@font-face {
  font-family: 'SymbolaRegular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/SymbolaRegular.ttf') format('truetype');
}
